body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column; }

.header {
  border-bottom: 1px solid #eee; }
  .header .top {
    display: flex;
    justify-content: space-between;
    height: 44px;
    line-height: 44px;
    margin: 0 15px; }
    .header .top i {
      height: 44px;
      line-height: 44px; }

.section {
  flex: 1;
  overflow-y: scroll; }
  .section .xinxi {
    color: #666; }
    .section .xinxi img {
      height: 10px;
      width: 100%; }
    .section .xinxi .zhi {
      padding: 0 15px;
      display: flex;
      justify-content: space-between; }
      .section .xinxi .zhi em {
        margin-left: 5px;
        display: inline-block;
        height: 45px;
        line-height: 16px;
        font-size: 12px; }
    .section .xinxi p {
      line-height: 40px;
      font-size: 12px;
      padding-left: 15px; }
      .section .xinxi p span {
        padding-left: 15px; }
        .section .xinxi p span:nth-child(1) {
          padding-left: 15px;
          font-size: 14px; }
  .section .con {
    border-top: 10px #eee solid; }
    .section .con h3 {
      font-size: 14px;
      padding-left: 15px;
      line-height: 44px; }
      .section .con h3 i {
        padding-right: 5px;
        color: #ff6d1f; }
    .section .con dl {
      display: flex;
      color: #666; }
      .section .con dl dt {
        padding-left: 15px;
        flex: 1; }
        .section .con dl dt img {
          width: 90px;
          height: 35px; }
      .section .con dl dd {
        padding-left: 15px; }
        .section .con dl dd p {
          font-size: 15px; }
          .section .con dl dd p:nth-child(2) {
            padding-top: 20px; }
          .section .con dl dd p span {
            float: left; }
            .section .con dl dd p span:nth-child(2) {
              float: right;
              padding-right: 10px; }
            .section .con dl dd p span b {
              display: block;
              color: #fc4141;
              font-weight: bold; }
            .section .con dl dd p span s {
              font-size: 12px;
              color: #ccc; }
            .section .con dl dd p span i input {
              width: 44px;
              height: 28px;
              border: none;
              border: 1px solid #ccc;
              border-right: none;
              border-left: none;
              text-align: center;
              outline: none; }
            .section .con dl dd p span i em {
              width: 26px;
              height: 30px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #ccc;
              display: inline-block; }
  .section .shang p {
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    color: #858585;
    padding: 0 15px; }
    .section .shang p:nth-child(3) span:nth-child(2) {
      font-size: 18px;
      color: #fc4141;
      font-weight: bold; }
    .section .shang p span {
      float: left; }
      .section .shang p span:nth-child(2) {
        float: right; }
  .section .yu dl {
    height: 58px;
    line-height: 58px;
    border-bottom: 1px solid #eee;
    padding: 0 15px;
    font-size: 15px;
    color: #333; }
    .section .yu dl dt {
      float: left; }
    .section .yu dl dd {
      margin-top: 15px;
      float: right; }

.footer {
  height: 60px; }
  .footer p {
    height: 60px;
    float: left; }
    .footer p:nth-child(1) {
      width: 65%; }
      .footer p:nth-child(1) span {
        color: #fc4141;
        display: block;
        padding-top: 10px;
        text-align: right;
        padding-right: 5px;
        font-weight: bold; }
      .footer p:nth-child(1) i {
        color: #666;
        padding-top: 7px;
        display: block;
        text-align: right;
        padding-right: 10px;
        font-size: 12px; }
    .footer p:nth-child(2) {
      width: 35%;
      background: #fc4141;
      color: #fff;
      height: 60px;
      text-align: center;
      line-height: 60px; }

/*# sourceMappingURL=index.css.map */
